@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Playfair+Display:wght@700;900&family=Roboto:wght@100;300;900&display=swap');


/* 
font-family: 'Hammersmith One', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif; 
*/

/*contact and client*/
* {
    margin: 0;

}

.container{    
    width: auto;
    height: 1200px;    
    justify-content: center;  
    text-align: center;
}

.contact{
    height: 1000px;    
    width: 40%;
    padding: 20px;   
    display: inline-block;
}

.client{  
    /* top: 0; */
    height: 1000px;    
    width: 40%;
    padding: 20px;   
    display: inline-block;
}




.imgRowOne, .imgRowTwo, .imgRowThree, .imgRowFour,.imgRowFive {
   
    margin:0;
    padding: 5px;
    display:inline-block;
    text-align: center;
    /* height: 40px;   */
}

img {
    padding: 0 5px;
    margin: 0;
    width:150px;
}


#btnSubmit{
    background-color: white; 
    border: 1px solid darkturquoise;
    color: darkturquoise;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


